wheel==0.36.2
absl-py==0.10.0
astor==0.8.1
asttokens==2.0.4
astunparse==1.6.3
cached-property==1.5.2
cffi==1.14.4
decorator==4.4.2
easydict==1.9
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.32.0
h5py==3.1.0
importlib-metadata==3.7.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.2
mpmath==1.2.1
numpy==1.17.5
opt-einsum==3.3.0
packaging==20.9
Pillow==8.1.2
protobuf==3.13.0
pycparser==2.20
pyparsing==2.4.7
scipy==1.6.0
setuptools==54.1.1
six==1.15.0
sympy==1.4
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1
