- hosts: '{{ hosts_name }}'
  tasks:
    - name: install system packages
      include_tasks: "task_sys_{{ansible_pkg_mgr}}.yml"

    - name: get cmake version
      shell: cmake --version | awk -F" " '{print $3;exit}'
      register: cmake_ver

    - name: install cmake3.18.6 for BCLinux Tlinux and CentOS 7.6
      import_tasks: task_cmake.yml
      when:
        - "'BCLinux' in os_and_arch or 'CentOS_7.6' in os_and_arch or 'Tlinux' in os_and_arch"
        - cmake_ver.stdout == '' or cmake_ver.stdout is version("3.18.6", "<")

    - name: find protobuf
      find:
        paths: /usr/local/lib
        recurse: no
        file_type: file
        use_regex: yes
        patterns: "libprotobuf.so.*"
      register: libprotobuf

    - name: install protobuf 3.11.3
      import_tasks: task_protobuf.yml
      when: libprotobuf.matched == 0

    - name: find docker command
      shell: command -v docker | wc -l
      register: docker_exists

    - name: restart docker
      shell: "systemctl restart docker"
      when: docker_exists.stdout != "0"
      failed_when: false
