- hosts: '{{ hosts_name }}'
  tasks:
    - name: try import mindspore
      shell: python3 -c "import mindspore as ms; print(ms.__version__)"
      environment:
        PATH: "{{ local_path }}/{{ python_version }}/bin:{{ ascend_install_path }}/ascend-toolkit/latest/atc/ccec_compiler/bin/:{{ ansible_env.PATH }}"
        LD_LIBRARY_PATH: "{{ local_path }}/{{ python_version }}/lib:{{ local_path }}/gcc7.3.0/lib64:{{ ascend_install_path }}/ascend-toolkit/latest/acllib/lib64:{{ ascend_install_path }}/ascend-toolkit/latest/atc/lib64:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ ascend_install_path }}/driver/lib64:{{ ascend_install_path }}/opp/op_impl/built-in/ai_core/tbe/op_tiling:{{ local_path }}/{{ python_version }}/lib/{{ python_version }}[:9]/site-packages/mindspore/lib:{{ ascend_install_path }}/ascend-toolkit/latest/opp/op_impl/built-in/ai_core/tbe/op_tiling:{{ansible_user_dir}}/Ascend/ascend-toolkit/latest/fwkacllib/lib64/plugin/opskernel"
        TBE_IMPL_PATH: "{{ ascend_install_path }}/ascend-toolkit/latest/opp/op_impl/built-in/ai_core/tbe"
        ASCEND_OPP_PATH: "{{ ascend_install_path }}/ascend-toolkit/latest/opp"
        PYTHONPATH: "{{ ascend_install_path }}/ascend-toolkit/latest/opp/op_impl/built-in/ai_core/tbe:{{ ascend_install_path }}/ascend-toolkit/latest/arm64-linux/fwkacllib/python/site-packages/"
      failed_when: false
      changed_when: false
      register: import_mindspore

    - name: get cmake version
      shell: cmake --version | awk -F" " '{print $3;exit}'
      register: cmake_ver
      when: import_mindspore.rc != 0

    - name: install cmake3.18.6 for Ascend310
      import_tasks: task_cmake.yml
      when:
        - import_mindspore.rc != 0
        - ansible_user_uid == 0
        - ansible_local.npu_info.scene == "infer"
        - "'CentOS_7.6' in os_and_arch or 'Ubuntu_18.04' in os_and_arch or 'EulerOS_2.8' in os_and_arch"
        - cmake_ver.stdout == '' or cmake_ver.stdout is version("3.18.6", "<")

    - name: install mindspore if not import
      include_tasks: task_mindspore.yml
      when: import_mindspore.rc != 0
