- hosts: '{{ hosts_name }}'
  tasks:
    - name: find toolbox package
      find:
        paths: "{{ cann_dirs }}"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*toolbox.*{{ ansible_architecture }}.run"
      register: toolbox

    - name: check ascend cann install info
      stat:
        path: /etc/Ascend/ascend_cann_install.info
      register: install_info

    - name: set install_path enable
      set_fact:
        ins_path_cmd: "--install-path={{ install_path }}"
      when: not install_info.stat.exists

    - name: set install_path disable
      set_fact:
        ins_path_cmd: ""
      when: install_info.stat.exists or ansible_user_uid != 0

    - name: install toolbox
      shell: "bash {{ toolbox.files[0].path }} {{ cann_install_params }} {{ins_path_cmd}}"
      register: toolbox_result
      when: toolbox.matched > 0
      failed_when: "toolbox_result.rc != 0 and 'already installed' not in toolbox_result.stdout"

    - name: message
      debug:
        msg:
          - "can not find toolbox package, toolbox install skipped"
      when: toolbox.matched == 0

    - name: message
      debug:
        msg:
          - "{{ toolbox_result | default('NOT DEFINED') }}"
      when: toolbox_result.changed
