- hosts: '{{ hosts_name }}'
  tasks:
    - name: try import mindspore
      shell: python3.7 -c "import mindspore as ms; print(ms.__version__)"
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ ansible_env.PATH }}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib:/usr/local/Ascend/ascend-toolkit/latest/fwkacllib/lib64:/usr/local/gcc7.3.0/lib64
      failed_when: false
      changed_when: false
      register: import_mindspore

    - name: get cmake version
      shell: cmake --version | awk -F" " '{print $3;exit}'
      register: cmake_ver

    - name: install cmake3.18.6 for Ascend310
      import_tasks: task_cmake.yml
      when:
        - ansible_local.npu_info.model_number == "3000" or ansible_local.npu_info.model_number == "3010"
        - "'CentOS' in os_and_arch or 'Ubuntu_18.04' in os_and_arch or 'EulerOS_2.8' in os_and_arch"
        - cmake_ver.stdout == '' or cmake_ver.stdout is version("3.18.6", "<")

    - name: install mindspore if import failed
      include_tasks: task_mindspore_ascend.yml
      when: import_mindspore.rc != 0
