- hosts: '{{ hosts_name }}'
  tasks:
    - name: create user if not exist
      import_tasks: ../create_user.yml
      when: ansible_user_uid == 0

    # check the driver, always success
    # set changed when npu-smi info not work
    - name: check if driver is already installed
      shell: npu-smi info
      environment:
        PATH: /usr/local/python3.7.5/bin:/usr/local/Ascend/toolbox/latest/Ascend-DMI/bin:{{ ansible_env.PATH }}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib:/usr/local/Ascend/toolbox/latest/Ascend-DMI/lib64:/usr/local/dcmi:/usr/local/Ascend/nnae/latest/fwkacllib/lib64:/usr/local/Ascend/nnrt/latest/acllib/lib64
      register: smi_info
      failed_when: false
      changed_when: smi_info.rc != 0
      when: ansible_user_uid == 0

    - name: install firmware
      import_tasks: task_firmware.yml
      when: ansible_user_uid == 0 and smi_info.rc == 0

    - name: install driver
      import_tasks: task_driver.yml
      when: ansible_user_uid == 0

    - name: install firmware
      import_tasks: task_firmware.yml
      when: ansible_user_uid == 0 and smi_info.rc != 0

    - name: message
      debug:
        msg:
        - "not support installing npu by non-root user, please switch to root user"
      when: ansible_user_uid != 0
