- hosts: '{{ hosts_name }}'
  tasks:
    - name: try import torch
      shell: python3.7 -c "import torch; print(torch.__version__)"
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ ansible_env.PATH }}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib:/usr/local/Ascend/ascend-toolkit/latest/fwkacllib/lib64:/usr/local/Ascend/nnae/latest/fwkacllib/lib64:/usr/local/gcc7.3.0/lib64
      failed_when: false
      changed_when: false
      register: import_torch

    - name: stat gcc-7.3.0
      stat:
        path: /usr/local/gcc7.3.0
      register: gcc_stat

    - name: install gcc 7.3 for centos 7.6 if not exist
      import_tasks: task_gcc.yml
      when:
        - not gcc_stat.stat.exists
        - "os_version == '7.6'"
        - import_torch.rc != 0

    - name: install gcc 7.3 for Tlinux if not exist
      import_tasks: task_gcc.yml
      when:
        - not gcc_stat.stat.exists
        - "'Tlinux' in os_and_arch"
        - import_torch.rc != 0

    - name: install torch if import failed
      import_tasks: task_torch.yml
      when: import_torch.rc != 0
