- hosts: '{{ hosts_name }}'
  tasks:

    - name: find nnrt package from run_from_zip_dir first
      find:
        paths: "{{ resources_dir }}/run_from_zip_dir"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*nnrt.*{{ ansible_architecture }}.run"
      register: nnrt_from_zip

    - name: install nnrt from run_from_zip_dir
      shell: "bash {{ nnrt_from_zip.files[0].path }} --install --quiet --install-username={{ user }} --install-usergroup={{ group }}"
      become: yes
      register: nnrt_from_zip_result
      when: nnrt_from_zip.matched > 0
      failed_when: "nnrt_from_zip_result.rc != 0 and ('install success' not in nnrt_from_zip_result.stdout and 'already installed' not in nnrt_from_zip_result.stdout)"

    - name: find nnrt package
      find:
        paths: "{{ resources_dir }}"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*nnrt.*{{ ansible_architecture }}.run"
      register: nnrt
      when: nnrt_from_zip.matched == 0

    - name: install nnrt
      shell: "bash {{ nnrt.files[0].path }} --install --quiet --install-username={{ user }} --install-usergroup={{ group }}"
      become: yes
      register: nnrt_result
      when: nnrt_from_zip.matched == 0 and nnrt.matched > 0
      failed_when: "nnrt_result.rc != 0 and ('install success' not in nnrt_result.stdout and 'already installed' not in nnrt_result.stdout)"

    - name: message
      debug:
        msg:
          - "can not find nnrt package, nnrt install skipped"
      when: nnrt_from_zip.matched == 0 and nnrt.matched == 0

    - name: message
      debug:
        msg:
          - "{{ nnrt_from_zip_result | default('NOT DEFINED') }}"
          - "{{ nnrt_result | default('NOT DEFINED') }}"
      when: nnrt_from_zip_result.changed or nnrt_result.changed
