- hosts: '{{ hosts_name }}'
  tasks:
    - name: find nnrt package
      find:
        paths:
          - "{{ resources_dir }}/run_from_zip_dir"
          - "{{ resources_dir }}"
          - "{{ resources_dir }}/CANN"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*nnrt.*{{ ansible_architecture }}.run"
      register: nnrt

    - name: check ascend cann install info
      stat:
        path: /etc/Ascend/ascend_cann_install.info
      register: install_info

    - name: set install_path disable
      set_fact:
        ins_path_cmd: ""
      when: install_info.stat.exists

    - name: set install_path enable
      set_fact:
        ins_path_cmd: "--install-path={{ install_path }}"
      when: not install_info.stat.exists

    - name: install nnrt
      shell: "bash {{ nnrt.files[0].path }} --install --quiet --install-username={{ user }} --install-usergroup={{ group }} {{ ins_path_cmd }}"
      become: yes
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ansible_env.PATH}}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib
      register: nnrt_result
      when: nnrt.matched > 0
      failed_when: "nnrt_result.rc != 0 and 'already installed' not in nnrt_result.stdout"

    - name: message
      debug:
        msg:
          - "can not find nnrt package, nnrt install skipped"
      when: nnrt.matched == 0

    - name: message
      debug:
        msg:
          - "{{ nnrt_result | default('NOT DEFINED') }}"
      when: nnrt_result.changed
