- hosts: '{{ hosts_name }}'
  tasks:
    - name: check mindspore
      shell: python3 -m pip list | grep mindspore
      environment:
        PATH: "{{ local_path }}/{{ python_version }}/bin:{{ ansible_env.PATH }}"
        LD_LIBRARY_PATH: "{{ local_path }}/{{ python_version }}/lib"
      failed_when: false
      changed_when: false
      register: mindspore_version

    - name: message
      debug: var=mindspore_version
      when: mindspore_version.stdout != ""

    - name: message
      debug:
        msg:
          - "mindspore is already installed, mindspore install skipped"
      when: mindspore_version.stdout != ""

    - name: get cmake version
      shell: cmake --version | awk -F" " '{print $3;exit}'
      register: cmake_ver
      when: mindspore_version.stdout == ''

    - name: install cmake3.20.5 for Ascend310
      import_tasks: task_cmake.yml
      when:
        - mindspore_version.stdout == ''
        - ansible_user_uid == 0
        - ansible_local.npu_info.scene == "infer"
        - "'CentOS_7.6' in os_and_arch or 'Ubuntu_18.04' in os_and_arch or 'EulerOS_2.8' in os_and_arch or 'EulerOS_2.10' in os_and_arch or 'OpenEuler_22.03LTS' in os_and_arch"
        - cmake_ver.stdout == '' or cmake_ver.stdout is version("3.20.5", "<")

    - name: install mindspore if not import
      include_tasks: task_mindspore.yml
      when:
        - mindspore_version.stdout == ''
