- hosts: '{{ hosts_name }}'
  tasks:
    - name: find protobuf
      find:
        paths: /usr/local/lib
        recurse: no
        file_type: file
        use_regex: yes
        patterns: "libprotobuf.so.*"
      register: libprotobuf


    - name: install protobuf 3.13.0
      import_tasks: task_protobuf.yml
      when: libprotobuf.matched == 0
