- hosts: '{{ hosts_name }}'
  tasks:
    - name: find ha path
      find:
        paths: "{{ resources_dir }}/run_from_zip_dir"
        recurse: no
        file_type: directory
        use_regex: yes
        patterns: ".*ha.*{{ansible_architecture}}"
      when: ansible_local.npu_info.scene == 'infer'
      register: ha

    - name: install ha
      shell: "bash {{ ha.files[0].path }}/install.sh -f -p /usr/local/"
      become: yes
      register: ha_result
      when: ha.matched > 0
      failed_when: "ha_result.rc !=0 and ('install success' not in ha_result.stdout and 'has been installed' not in ha_result.stdout)"

    - name: ha message
      debug:
        msg:
          - "can not find ha package, ha install skipped"
      when: "'skipped' in ha_result and ha_result.skipped and ha.matched == 0"

    - name: ha install message
      debug: var=ha_result
      when: ha_result.changed
