- hosts: '{{ hosts_name }}'
  tasks:
    - name: find mindstudio package
      find:
        paths: "{{ resources_dir }}/MindStudio/"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: "[Mm]ind[Ss]tudio.*tar.gz"
      register: ms

    - name: copy py_compile
      ansible.builtin.copy:
        src: /usr/local/python3.7.5/lib/python3.7/py_compile.py
        dest: /usr/lib/python3.7/py_compile.py
        remote_src: no
      when: ms.matched > 0
      become: yes

    - name: install system packages apt
      shell: export DEBIAN_FRONTEND=noninteractive && export DEBIAN_PRIORITY=critical; dpkg --force-all -i {{ resources_dir }}/MindStudio/{{ os_and_arch }}/*.deb
      become: yes
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ ansible_env.PATH }}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib:/usr/local/gcc7.3.0/lib64
      when:
        - ms.matched > 0
        - ansible_pkg_mgr == 'apt'

    - name: install system packages rpm
      shell: rpm -ivh --force --nodeps --replacepkgs {{ resources_dir }}/MindStudio/{{ os_and_arch }}/*.rpm
      become: yes
      when:
        - ms.matched > 0
        - ansible_pkg_mgr == 'yum'

    - name: install system packages dnf
      shell: rpm -ivh --force --nodeps --replacepkgs {{ resources_dir }}/MindStudio/{{ os_and_arch }}/*.rpm
      become: yes
      when:
        - ms.matched > 0
        - ansible_pkg_mgr == 'dnf'

    - name: install python libs for mindstudio
      shell: python3.7 -m pip install --force-reinstall {{ item }} --no-index --find-links {{ resources_dir }}/pylibs
      become: yes
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ ansible_env.PATH }}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib:/usr/local/Ascend/ascend-toolkit/latest/fwkacllib/lib64:/usr/local/gcc7.3.0/lib64
      failed_when: false
      when: ms.matched > 0
      with_items:
        - grpcio
        - protobuf
        - decorator
        - sympy
        - psutil
        - requests
        - pandas
        - xlrd
        - coverage
        - gnureadline
        - pylint
        - scipy
        - absl-py
        - matplotlib
        - pyqt5
        - attrs

    - name: create symbolic link python3.7.5
      file:
        src: /usr/local/python3.7.5/bin/python3
        dest: /usr/bin/python3.7.5
        state: link
      when: ms.matched > 0
      become: yes

    - name: check /usr/bin/python3.7
      stat:
        dest: /usr/bin/python3.7
      register: stat_python37

    - name: create symbolic link python3.7
      file:
        src: /usr/local/python3.7.5/bin/python3
        dest: /usr/bin/python3.7
        state: link
      when:
        - ms.matched > 0
        - not stat_python37.stat.exists
      become: yes

    - name: create symbolic link pip3.7.3
      file:
        src: /usr/local/python3.7.5/bin/pip3
        dest: /usr/bin/pip3.7.5
        state: link
      when: ms.matched > 0
      become: yes

    - name: check /usr/bin/pip3.7
      stat:
        dest: /usr/bin/pip3.7
      register: stat_pip37

    - name: create symbolic link pip3.7
      file:
        src: /usr/local/python3.7.5/bin/pip3
        dest: /usr/bin/pip3.7
        state: link
      when:
        - ms.matched > 0
        - not stat_pip37.stat.exists
      become: yes

    - name: unarchive MindStudio
      unarchive:
        src: "{{ ms.files[0].path }}"
        dest: ~/
        copy: no
      when: ms.matched > 0

    - name: unarchive jdk for aarch64
      unarchive:
        src: "{{ resources_dir }}/MindStudio/jbr-11_0_9-linux-aarch64-b944.49.tar.gz"
        dest: ~/MindStudio
        copy: no
      when:
        - ms.matched > 0
        - ansible_architecture == 'aarch64'

    - name: unarchive jdk for x86_64
      unarchive:
        src: "{{ resources_dir }}/MindStudio/jbr-11_0_9-linux-x64-b944.49.tar.gz"
        dest: ~/MindStudio
        copy: no
      when:
        - ms.matched > 0
        - ansible_architecture == 'x86_64'

    - name: set MINDSTUDIO_JDK
      shell: sed -i "2 i\export MINDSTUDIO_JDK=~/MindStudio/jbr" ~/MindStudio/bin/MindStudio.sh
      failed_when: false
      when:
        - ms.matched > 0
        - ansible_architecture == 'aarch64'
