- hosts: '{{ hosts_name }}'
  tasks:
    - name: try import tensorflow
      shell: python3.7 -c "import tensorflow as tf; print(tf.__version__)"
      environment:
        PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
        LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
      failed_when: false
      changed_when: false
      register: import_tensorflow

    - name: stat gcc-7.3.0
      stat:
        path: "{{ local_path }}/gcc7.3.0"
      register: gcc_stat

    - name: install gcc 7.3 for centos 7.6 if not exist
      import_tasks: task_gcc.yml
      when:
        - not gcc_stat.stat.exists
        - "os_version == '7.6'"
        - import_tensorflow.rc != 0

    - name: install tensorflow if not import
      include_tasks: task_tensorflow.yml
      when: import_tensorflow.rc != 0
