- hosts: '{{ hosts_name }}'
  tasks:
    - name: install gcc 7.3.0
      import_tasks: task_gcc.yml
      when: "'CentOS_8.2' not in os_and_arch and 'EulerOS' not in os_and_arch and 'Debian_10.0' not in os_and_arch"

    - name: message
      debug:
        msg:
        - "not support installing gcc7.3.0 for CentOS_8.2 or EulerOS or Debian_10.0, please use install=sys_pkg instead"
      when: "'CentOS_8.2' in os_and_arch or 'EulerOS' in os_and_arch or 'Debian_10.0' in os_and_arch"
