- hosts: '{{ hosts_name }}'
  tasks:

    - name: find nnae package from run_from_zip_dir first
      find:
        paths: "{{ resources_dir }}/run_from_zip_dir"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*nnae.*{{ ansible_architecture }}.run"
      register: nnae_from_zip

    - name: install nnae from run_from_zip_dir first
      shell: "bash {{ nnae_from_zip.files[0].path }} --install --quiet --install-username={{ user }} --install-usergroup={{ group }}"
      become: yes
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ansible_env.PATH}}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib
      register: nnae_from_zip_result
      when: nnae_from_zip.matched > 0
      failed_when: "nnae_from_zip_result.rc != 0 and 'already installed' not in nnae_from_zip_result.stdout"

    - name: find nnae package
      find:
        paths: "{{ resources_dir }},{{ resources_dir }}/CANN"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*nnae.*{{ ansible_architecture }}.run"
      register: nnae
      when: nnae_from_zip.matched == 0

    - name: install nnae
      shell: "bash {{ nnae.files[0].path }} --install --quiet --install-username={{ user }} --install-usergroup={{ group }}"
      become: yes
      environment:
        PATH: /usr/local/python3.7.5/bin:{{ansible_env.PATH}}
        LD_LIBRARY_PATH: /usr/local/python3.7.5/lib
      register: nnae_result
      when: nnae_from_zip.matched == 0 and nnae.matched > 0
      failed_when: "nnae_result.rc != 0 and 'already installed' not in nnae_result.stdout"

    - name: message
      debug:
        msg:
          - "can not find nnae package, nnae install skipped"
      when: nnae_from_zip.matched == 0 and nnae.matched == 0

    - name: message
      debug:
        msg:
          - "{{ nnae_from_zip_result | default('NOT DEFINED') }}"
          - "{{ nnae_result | default('NOT DEFINED') }}"
      when: nnae_from_zip_result.changed or nnae_result.changed
