- hosts: '{{ hosts_name }}'
  tasks:
    - name: find tfplugin package
      find:
        paths: "{{ cann_dirs }}"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*tfplugin.*{{ansible_architecture}}.run"
      register: tfplugin

    - name: check ascend cann install info
      stat:
        path: /etc/Ascend/ascend_cann_install.info
      register: install_info

    - name: set install_path enable
      set_fact:
        ins_path_cmd: "--install-path={{ install_path }}"
      when: not install_info.stat.exists

    - name: set install_path disable
      set_fact:
        ins_path_cmd: ""
      when: install_info.stat.exists or ansible_user_uid != 0

    - name: install tfplugin
      shell: "bash {{ tfplugin.files[0].path }} {{ cann_install_params }} {{ ins_path_cmd }}"
      environment:
        LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib"
        PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
      register: tfplugin_result
      when: tfplugin.matched > 0
      failed_when: "tfplugin_result.rc !=0 and 'already installed' not in tfplugin_result.stdout"

    - name: message
      debug:
        msg:
          - "can not find tfplugin package, tfplugin install skipped"
      when: tfplugin.matched == 0

    - name: message
      debug:
        msg:
          - "{{ tfplugin_result | default('NOT DEFINED') }}"
      when: tfplugin_result.changed
