- name: find driver package for specific linux from run_from_zip_dir first
  find:
    path: "{{ resources_dir }}/run_from_zip_dir"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: "{{ ansible_local.npu_info.product }}-.*{{ ansible_local.npu_info.model_number }}.*driver.*{{ ansible_distribution.lower() }}{{ os_version }}.*{{ ansible_architecture }}.run"
  register: driver_pkg_from_zip

- name: find driver package for common linux from run_from_zip_dir first
  find:
    path: "{{ resources_dir }}/run_from_zip_dir"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: "{{ ansible_local.npu_info.product }}-.*{{ ansible_local.npu_info.model_number }}.*driver.*linux.*{{ ansible_architecture }}.run"
  register: driver_pkg_linux_from_zip
  when: driver_pkg_from_zip.matched == 0

- name: install driver for specific linux from run_from_zip_dir first
  shell: "bash {{driver_pkg_from_zip.files[0].path}} --full --quiet --install-username={{user}} --install-usergroup={{group}}"
  register: driver_result_from_zip
  failed_when: "'install success' not in driver_result_from_zip.stdout"
  when: driver_pkg_from_zip.matched > 0
  become: yes

- name: install driver for common linux from run_from_zip_dir first
  shell: "bash {{driver_pkg_linux_from_zip.files[0].path}} --full --quiet --install-username={{user}} --install-usergroup={{group}}"
  register: driver_result_linux_from_zip
  failed_when: "'install success' not in driver_result_linux_from_zip.stdout"
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched > 0
  become: yes

- name: find driver package for specific linux
  find:
    path: "{{ resources_dir }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: "{{ ansible_local.npu_info.product }}-.*{{ ansible_local.npu_info.model_number }}.*driver.*{{ ansible_distribution.lower() }}{{ os_version }}.*{{ ansible_architecture }}.run"
  register: driver_pkg
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched == 0

- name: find driver package for common linux
  find:
    path: "{{ resources_dir }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: "{{ ansible_local.npu_info.product }}-.*{{ ansible_local.npu_info.model_number }}.*driver.*linux.*{{ ansible_architecture }}.run"
  register: driver_pkg_linux
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched == 0 and driver_pkg.matched == 0

- name: install driver for specific linux
  shell: "bash {{driver_pkg.files[0].path}} --full --quiet --install-username={{user}} --install-usergroup={{group}}"
  register: driver_result
  failed_when: "'install success' not in driver_result.stdout"
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched == 0 and driver_pkg.matched > 0
  become: yes

- name: install driver for common linux
  shell: "bash {{driver_pkg_linux.files[0].path}} --full --quiet --install-username={{user}} --install-usergroup={{group}}"
  register: driver_result_linux
  failed_when: "'install success' not in driver_result_linux.stdout"
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched == 0 and driver_pkg.matched == 0 and driver_pkg_linux.matched > 0
  become: yes

- name: message
  debug:
    msg:
      - "can not find driver package, driver install skipped"
  when: driver_pkg_from_zip.matched == 0 and driver_pkg_linux_from_zip.matched == 0 and driver_pkg.matched == 0 and driver_pkg_linux.matched == 0

- name: message
  debug:
    msg:
      - "{{ driver_result_from_zip | default('NOT DEFINED') }}"
      - "{{ driver_result_linux_from_zip | default('NOT DEFINED') }}"
      - "{{ driver_result | default('NOT DEFINED') }}"
      - "{{ driver_result_linux | default('NOT DEFINED') }}"
  when: driver_result_from_zip.changed or driver_result_linux_from_zip.changed or driver_result.changed or driver_result_linux.changed

- name: service host_sys_init start
  shell: service host_sys_init start
  become: yes
  failed_when: false
  when: driver_result_from_zip.changed or driver_result_linux_from_zip.changed or driver_result.changed or driver_result_linux.changed