- name: create build directory
  file:
    path: "{{ build_dir }}"
    state: directory
    mode: 0750
    recurse: yes

- name: install protobuf-python-3.11.3 unarchive
  unarchive:
    src: "{{ resources_dir }}/sources/protobuf-python-3.11.3.tar.gz"
    dest: "{{ build_dir }}"
    copy: no
    extra_opts:
    - --no-same-owner

- name: install protobuf-python-3.11.3 configure
  shell: ./configure --prefix=/usr/local
  args:
    chdir: "{{ build_dir }}/protobuf-3.11.3"

- name: install protobuf-python-3.11.3 make
  shell: "make -C {{ build_dir }}/protobuf-3.11.3 -j20"
  ignore_errors: yes

- name: install protobuf-python-3.11.3 make install
  shell: "make -C {{ build_dir }}/protobuf-3.11.3 install"
