- name: install pytorch
  shell: python3.7 -m pip install torch --no-index --find-links {{ resources_dir }}/pylibs {{ pip_install_option }}
  environment:
    PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"

- name: install apex
  shell: python3.7 -m pip install apex --no-index --find-links {{ resources_dir }}/pylibs {{ pip_install_option }}
  environment:
    PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
