# for suse use
# suse also have the rpm tool

- name: zypper check resource exist
  stat:
    path: "{{ resources_dir }}/{{ os_and_arch }}"
  register: zypper_st

- name: zypper install system packages rpm
  shell: rpm -ivh --force --nodeps --replacepkgs {{ resources_dir }}/{{ os_and_arch }}/*.rpm
  when: zypper_st.stat.exists
