- name: install kernel headers devel
  include_tasks: task_kernel.yml

- name: yum install system packages
  shell: rpm -ivh --force --nodeps --replacepkgs {{ resources_dir }}/{{ os_and_arch }}/*.rpm
  become: yes
