- name: set log_path for root
  set_fact:
    log_path: /var/log/ascend_seclog/
  when: ansible_user_uid == 0

- name: set log_path for non-root
  set_fact:
    log_path: ~/var/log/ascend_seclog/
  when: ansible_user_uid != 0

- name: find toolkit package
  find:
    paths: "{{ cann_dirs }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: ".*toolkit.*{{ ansible_architecture }}.sh"
  register: toolkit

- name: install toolkit
  shell: "bash {{ toolkit.files[0].path }} {{ log_path }}"
  environment:
    LD_LIBRARY_PATH: "{{ local_path }}/{{ python_version }}/lib"
    PATH: "{{ local_path }}/{{ python_version }}/bin:{{ ansible_env.PATH }}"
  register: toolkit_result
  when: toolkit.matched > 0
  failed_when: "toolkit_result.rc != 0 and 'already installed' not in toolkit_result.stdout"

- name: find toolkit aarch64 package
  find:
    paths: "{{ cann_dirs }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: ".*toolkit.*aarch64.sh"
  register: toolkit_aarch64
  when: os_and_arch == 'Ubuntu_18.04_x86_64' or os_and_arch == 'Ubuntu_20.04_x86_64'

- name: install toolkit aarch64 for Ubuntu_18.04_x86_64 or Ubuntu_20.04_x86_64
  shell: "bash {{ toolkit_aarch64.files[0].path }} {{ log_path }}"
  environment:
    LD_LIBRARY_PATH: "{{ local_path }}/{{ python_version }}/lib"
    PATH: "{{ local_path }}/{{ python_version }}/bin:{{ ansible_env.PATH }}"
  register: toolkit_result_ubuntu
  when:
    - os_and_arch == 'Ubuntu_18.04_x86_64' or os_and_arch == 'Ubuntu_20.04_x86_64'
    - toolkit_aarch64.matched is defined and toolkit_aarch64.matched > 0
  failed_when: "toolkit_result_ubuntu.rc != 0 and 'already installed' not in toolkit_result_ubuntu.stdout"

- name: message
  debug:
    msg:
      - "can not find toolkit package, toolkit install skipped"
  when:
    - toolkit.matched == 0
    - (toolkit_aarch64.matched is defined and toolkit_aarch64.matched == 0) or toolkit_aarch64.matched is not defined

- name: message
  debug:
    msg:
      - "{{ toolkit_result | default('NOT DEFINED') }}"
      - "{{ toolkit_result_ubuntu | default('NOT DEFINED') }}"
  when: toolkit_result.changed or toolkit_result_ubuntu.changed
