- name: create build directory
  file:
    path: "{{ build_dir }}"
    state: directory
    mode: 0750
    recurse: yes

- name: install python3.7.5 unarchive
  unarchive:
    src: "{{ resources_dir }}/sources/Python-3.7.5.tar.xz"
    dest: "{{ build_dir }}"
    copy: no
    extra_opts:
    - --no-same-owner

- name: install python3.7.5 config
  shell: ./configure --enable-shared --prefix={{ local_path }}/python3.7.5
  args:
    chdir: "{{ build_dir }}/Python-3.7.5"

- name: install python3.7.5 make
  shell: "make -C {{ build_dir }}/Python-3.7.5 -j20"

- name: install python3.7.5 make install
  shell: "make -C {{ build_dir }}/Python-3.7.5 install"

- name: install python ensurepip
  shell: python3.7 -m ensurepip
  environment:
    PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
  failed_when: false

- name: install python upgrade pip
  shell: python3.7 -m pip install --upgrade pip --no-index --find-links {{ resources_dir }}/pylibs {{ pip_install_option }}
  environment:
    PATH: "{{local_path}}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/Ascend/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
  failed_when: false

- name: install python libs
  shell: python3.7 -m pip install --force-reinstall {{ item }} --no-index --find-links {{ resources_dir }}/pylibs {{ pip_install_option }}
  environment:
    PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
  failed_when: false
  with_items:
    - cython
    - pkgconfig
    - requests
    - sympy
    - grpcio-tools
    - certifi
    - decorator
    - attrs
    - psutil
    - pyyaml
    - pandas
    - xlrd
    - matplotlib
    - grpcio
    - protobuf
    - coverage
    - gnureadline
    - pylint
    - scipy
    - absl-py
    - cffi

- name: install python selinux
  shell: python3.7 -m pip install selinux --no-index --find-links {{ resources_dir }}/pylibs {{ pip_install_option }}
  environment:
    PATH: "{{ local_path }}/python3.7.5/bin:{{ ansible_env.PATH }}"
    LD_LIBRARY_PATH: "{{ local_path }}/python3.7.5/lib:{{ ascend_install_path }}/Ascend/ascend-toolkit/latest/fwkacllib/lib64:{{ local_path }}/gcc7.3.0/lib64"
  when: "'EulerOS' in os_and_arch"
  failed_when: false

- name: set python environment PATH
  shell: echo "export PATH={{ local_path }}/python3.7.5/bin:\$PATH" > {{ local_path }}/ascendrc 2>/dev/null
  failed_when: false

- name: set python environment LD_LIBRARY_PATH
  shell: echo "export LD_LIBRARY_PATH={{ local_path }}/python3.7.5/lib:\$LD_LIBRARY_PATH" >> {{ local_path }}/ascendrc 2>/dev/null
  failed_when: false
