- name: create build directory
  file:
    path: "{{ build_dir }}"
    state: directory
    recurse: yes

- name: install cmake-3.18.6 unarchive
  unarchive:
    src: "{{ resources_dir }}/sources/cmake-3.18.6.tar.gz"
    dest: "{{ build_dir }}"
    copy: no
    extra_opts:
    - --no-same-owner

- name: install cmake-3.18.6 bootstrap
  shell: ./bootstrap --parallel=4 --prefix=/usr/local
  args:
    chdir: "{{ build_dir }}/cmake-3.18.6"

- name: install cmake-3.18.6 make
  shell: "make -C {{ build_dir }}/cmake-3.18.6 -j20"
  ignore_errors: yes

- name: install cmake-3.18.6 make install
  shell: "make -C {{ build_dir }}/cmake-3.18.6 install"
