- name: install kernel headers devel
  include_tasks: task_kernel.yml

- name: yum install system packages
  shell: rpm -ivh --force --nodeps --replacepkgs {{ resources_dir }}/{{ ansible_distribution }}_{{ os_version }}_{{ ansible_architecture }}/*.rpm
