[defaults]
forks=50
command_warnings=False
host_key_checking=True

gathering=explicit
fact_caching=jsonfile
deprecation_warnings=False
interpreter_python=auto_legacy_silent

[inventory]
unparsed_is_failed=True

[ssh_connection]
scp_if_ssh=True
