Ascend-docker-version:
{{ docker_result.stdout | default("UNKNOWN") }}

Ascend-driver-info:
{{ npu_result.stdout | default("UNKNOWN") }}

Hccn-info:
{%set std = hccn_result.stdout | default("")%}
{%if "exit status" in std%}
{{ "Maybe infer system or hccn tool wrong" }}
{%else%}
{{ hccn_result.stdout | default("UNKNOWN") }}
{%endif%}