- hosts: '{{ hosts_name }}'
  tasks:
    - name: find ha package
      find:
        paths: "{{ resources_dir }}/run_from_zip_dir/ha_{{ ansible_architecture }}"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*ha.*{{ansible_architecture}}.tar.gz"
      register: ha

    - name: find AtlasEdge/run.sh in atlasedge install_path
      find:
        paths: "/usr/local/AtlasEdge/"
        recurse: no
        file_type: file
        use_regex: yes
        patterns: "run.sh$"
      register: atlasedge_run

    - name: upgrade ha
      shell: "{{ atlasedge_run.files[0].path }} upgrade -i normal -f {{ ha.files[0].path }} -s {{ ha.files[0].path }}.cms -c {{ ha.files[0].path }}.crl -e now -t HA"
      become: yes
      register: ha_result
      when: ha.matched > 0
      failed_when: "ha_result.rc !=0 and 'upgrade ok' not in ha_result.stdout"

    - name: message
      debug:
        msg:
          - "can not find ha package, ha upgrade skipped"
      when: "'skipped' in ha_result and ha_result.skipped and ha.matched == 0"

    - name: ha upgrade message
      debug: var=ha_result
      when: ha_result.changed
