---
- hosts: localhost
  vars:
    host_count: "{{ groups['worker'] | length }}"
    first_host: "{{ groups['worker'][0] }}"
  vars_files:
    - roles/mindx.npu/vars/main.yaml
  tasks:
    - name: make npu package for remote
      shell: tar -cf ~/resources.tar {{npu_pkg_dir}}/

- hosts: worker
  gather_facts: false
  vars_files:
    - roles/mindx.npu/vars/main.yaml
  tasks:
    - include_tasks: roles/mindx.npu/tasks/create_user.yaml
    - include_tasks: roles/mindx.npu/tasks/gather_npu_fact.yaml

    - name: copy to remote hosts
      copy:
        src: ~/resources.tar
        dest: ~/
      when: ansible_connection != "local"

    - name: clean remote resources
      file:
        state: absent
        path: ~/resources
      when: ansible_connection != "local"

    - name: uncompress on remote
      shell: tar -xf ~/resources.tar --strip-components=1 -C /root
      when: ansible_connection != "local"

    - include_tasks: roles/mindx.npu/tasks/main.yaml
