absl-py==0.10.0
ansible-base==2.10.2
ansible==2.10.1
astor==0.8.1
astroid==2.5.1
asttokens==2.0.4
astunparse==1.6.3
attrs==20.3.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
coverage==5.5
cryptography==3.1.1
cycler==0.10.0
cython==0.29.21
decorator==4.4.2
distro==1.5.0
easydict==1.9
flatbuffers==1.12
future==0.18.2
gast==0.2.2
gnureadline==8.0.0
google-auth-oauthlib==0.4.4
google-auth==1.30.0
google-pasta==0.2
grpcio-tools==1.32.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==2.0.0
isort==5.8.0
jinja2==2.11.2
keras-applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
markdown==3.3.2
markupsafe==1.1.1
matplotlib==3.4.0
mccabe==0.6.1
mpmath==1.1.0
numpy==1.14.5
numpy==1.17.5
numpy==1.19.2
numpy==1.22.0
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.5
pathlib2==2.3.5
Pillow==8.0.1
pip==20.3.3
pkgconfig==1.5.1
protobuf==3.13.0
psutil==5.8.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pylint==2.7.2
pyparsing==2.4.7
PyQt5-sip==12.8.1
PyQt5==5.14.0
python-dateutil==2.8.1
pytz==2020.5
pyyaml==5.3.1
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.7.2
scipy==1.3.3
scipy==1.5.4
selinux==0.2.1
setuptools==50.3.2
six==1.15.0
sympy==1.4
tensorboard-plugin-wit==1.8.0
tensorboard==1.15.0
tensorflow-cpu==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.11
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.4.1
pytest==6.2.5
iniconfig==1.1.1
pluggy==1.0.0
py==1.10.0
xlwt==1.3.0
xlutils==2.0.0
