ansible==2.10.1
ansible-base==2.10.2
cffi==1.14.5
cryptography==3.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
pip==21.0.1
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
setuptools==56.0.0
wheel==0.36.2
six==1.15.0
