- hosts: '{{ hosts_name }}'
  tasks:
    - name: target uninstall version
      debug: var=uninstall_version

    - name: find uninstall.sh in nnrt without version params
      shell: find /usr/local/Ascend/nnrt/latest/ -type f | grep -E "/script/uninstall.sh" | head -n 1
      become: yes
      register: uninstall_nnrt
      when: uninstall_version is not defined

    - name: uninstall nnrt without version params
      shell: "{{ uninstall_nnrt.stdout }}"
      become: yes
      when:
        - uninstall_version is not defined
        - uninstall_nnrt.rc == 0
        - uninstall_nnrt.stdout != ''

    - name: show info
      debug: var={{ item }}
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: uninstall nnrt with version params
      shell: "{{ item.install_path }}/script/uninstall.sh"
      become: yes
      register: uninstall_version
      when:
        - uninstall_version is defined
        - item.install_path and item.name and item.version
        - item.name == 'nnrt'
        - item.version == uninstall_version
      with_items: 
        - "{{ ansible_local.app_info.result }}"

    - name: show result
      debug: var=uninstall_version
