- hosts: '{{ hosts_name }}'
  tasks:
    - name: target uninstall version
      debug: var=uninstall_version

    - name: find uninstall.sh in driver without version params
      shell: find /usr/local/Ascend/driver/ -type f | grep -E "/driver/script/uninstall.sh" | head -n 1
      register: uninstall_driver
      when: uninstall_version is not defined

    - name: uninstall driver without version params
      shell: "{{ uninstall_driver.stdout }}"
      register: result
      when:
        - uninstall_version is not defined
        - uninstall_driver.rc == 0
        - uninstall_driver.stdout != ''

    - name: show uninstall result without uninstall_version
      debug: var=result

    - name: show info
      debug: var={{ item }}
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: uninstall driver with version params
      shell: "{{ item.install_path }}/driver/script/uninstall.sh"
      register: uninstall_result
      when:
        - uninstall_version is defined
        - item.install_path and item.name and item.version
        - item.name == 'driver'
        - item.version == uninstall_version
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: show uninstall result with uninstall_version
      debug: var=uninstall_result
