- hosts: '{{ hosts_name }}'
  tasks:
    - name: target uninstall version
      debug: var=uninstall_version

    - name: find uninstall.sh in tfplugin without version params
      shell: find /usr/local/Ascend/tfplugin/latest/ -type f | grep -E "/script/uninstall.sh" | head -n 1
      register: uninstall_tfplugin
      when: uninstall_version is not defined

    - name: uninstall tfplugin
      shell: "{{ uninstall_tfplugin.stdout }}"
      register: result
      when:
        - uninstall_version is not defined
        - uninstall_tfplugin.rc == 0
        - uninstall_tfplugin.stdout != ''

    - name: show uninstall result without uninstall_version
      debug: var=result

    - name: show info
      debug: var={{ item }}
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: uninstall tfplugin with version params
      shell: "{{ item.install_path }}/script/uninstall.sh"
      register: uninstall_result
      when:
        - uninstall_version is defined
        - item.install_path and item.name and item.version
        - item.name == 'tfplugin'
        - item.version == uninstall_version
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: show uninstall result with uninstall_version
      debug: var=uninstall_result
