- hosts: '{{ hosts_name }}'
  tasks:
    - name: find uninstall.sh in tfplugin without version params
      shell: "find {{ ascend_install_path }}/tfplugin/latest/script/uninstall.sh | head -n 1"
      register: uninstall_tfplugin
      when: uninstall_version == ""

    - name: message
      debug:
        msg:
          - "tfplugin is not installed, tfplugin uninstall skipped"
      when:
        - uninstall_version == ""
        - uninstall_tfplugin.stdout == ''

    - name: uninstall tfplugin without version params
      shell: "{{ uninstall_tfplugin.stdout }}"
      register: result
      when:
        - uninstall_version == ""
        - uninstall_tfplugin.rc == 0
        - uninstall_tfplugin.stdout != ''
      failed_when: result.rc != 0

    - name: show uninstall result without uninstall_version
      debug: var=result
      when:
        - uninstall_version == ""
        - result.changed

    - name: show app info
      debug: var={{ item }}
      when:
        - uninstall_version != ""
        - item.install_path and item.name and item.version
        - item.name == 'tfplugin'
      with_items:
        - "{{ ansible_local.app_info.result }}"

    - name: uninstall tfplugin with version params
      shell: "{{ item.install_path }}/script/uninstall.sh"
      register: result_with_version
      when:
        - uninstall_version != ""
        - item.install_path and item.name and item.version
        - item.name == 'tfplugin'
        - item.version == uninstall_version
      with_items:
        - "{{ ansible_local.app_info.result }}"
      failed_when: result_with_version.rc != 0

    - name: message
      debug:
        msg:
          - "uninstall_version is not matching"
      failed_when: true
      when:
        - uninstall_version != ""
        - not result_with_version.changed

    - name: show uninstall result with version params
      debug: var=item
      when:
        - uninstall_version != ""
        - item.changed
      with_items:
        - "{{ result_with_version.results }}"
