- name: find nnae patch package
  find:
    paths: "{{ cann_dirs }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: ".*nnae.*{{ ansible_architecture }}.run"
  register: nnae

- name: rollback nnae
  shell: "{{ nnae.files[0].path }} --rollback"
  register: nnae_result
  when: nnae.matched > 0

- name: message
  debug:
    msg:
      - "can not find nnae package, nnae rollback skipped"
  when: nnae.matched == 0

- name: message
  debug:
    msg:
      - "{{ nnae_result | default('NOT DEFINED') }}"
  when: nnae_result.changed