- name: find tfplugin patch package
  find:
    paths: "{{ cann_dirs }}"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: ".*tfplugin.*{{ansible_architecture}}.run"
  register: tfplugin

- name: rollback tfplugin
  shell: "{{ tfplugin.files[0].path }} --rollback"
  register: tfplugin_result
  when: tfplugin.matched > 0

- name: message
  debug:
    msg:
      - "can not find tfplugin patch package,tfplugin rollback skipped"
  when: tfplugin.matched == 0

- name: message
  debug:
    msg:
      - "{{ tfplugin_result | default('NOT DEFINED') }}"
  when: tfplugin_result.changed