- name: find tfplugin rollback script
  find:
    paths: "{{ ascend_install_path }}/tfplugin/latest/spc/script/"
    recurse: no
    file_type: file
    use_regex: yes
    patterns: "roll.*.sh"
  register: tfplugin

- name: rollback tfplugin
  shell: "{{ tfplugin.files[0].path }}"
  register: tfplugin_result
  when: tfplugin.matched > 0

- name: message
  debug:
    msg:
      - "can not find tfplugin rollback script,tfplugin rollback skipped"
  when: tfplugin.matched == 0

- name: message
  debug:
    msg:
      - "{{ tfplugin_result.stdout | default('NOT DEFINED') }}"
      - "{{ tfplugin_result.stdout_lines | default('NOT DEFINED') }}"
  when: tfplugin_result.changed