- name: mkdir resources
  shell: mkdir -p ~/libselinux

- name: scp libpython-selinux
  shell: /usr/bin/sshpass -p "{{ansible_password}}" scp -o StrictHostKeyChecking=no ../resources/{{os_and_arch}}/libselinux*.rpm {{ansible_user}}@{{ansible_default_ipv4.address}}:~/libselinux
  delegate_to: localhost
  when: inventory_hostname != "localhost"

- name: cp libpython-selinux for localhost
  shell: cp -f ../resources/{{os_and_arch}}/libselinux*.rpm ~/libselinux
  delegate_to: localhost
  when: inventory_hostname == "localhost"

- name: rm libselinux-devel
  shell: rm -f ~/libselinux/libselinux-devel*

- name: install libpython-selinux
  shell: rpm -ivh --force --nodeps ~/libselinux/libselinux*.rpm
