- name: check user exist
  shell: getent passwd "{{user}}" | wc -l
  register: user_info

- name: check uid and gid exists
  shell: getent passwd | awk -F ':' '{print $3,$4}' | grep -c "^1000 1000$"
  failed_when: false
  register: id_info

- name: create user
  shell: |
    groupadd -g 1000 {{group}}
    useradd -g {{group}} -d /home/{{user}} -m {{user}} -s /bin/bash
  when: "'0' in user_info.stdout and '0' in id_info.stdout"

- name: message
  debug:
    msg:
      - "HwHiAiUser is not exists and the default id is used, please create HwHiAiUser by hand"
      - "for example:"
      - "create group: groupadd {{group}}"
      - "create  user: useradd -g {{group}} -d /home/{{user}} -m {{user}} -s /bin/bash"
      - "set password: passwd {{user}}"
  failed_when: true
  when: user_info.stdout == '0' and id_info.stdout != '0'

- name: check user group
  getent:
    database: group
    key: "{{user}}"
    fail_key: no
  register: group_info

- name: message
  debug:
    msg:
      - "user {{user}} not in group {{group}}, please check!"
  failed_when: true
  when: "group not in group_info.ansible_facts.getent_group"
