- name: group hosts by distribution
  hosts: all
  gather_facts: True
  vars:
    need_test: yes
    temp: "{{ ansible_distribution_version | regex_findall('[0-9]+.[0-9]+') }}"
    os_version: "{{ temp[0] }}"
    os_and_arch: "{{ansible_distribution}}_{{os_version}}_{{ansible_architecture}}"

  tasks:
    - local_action: stat path={{os_and_arch}}.yml
      register: optional_file

    - name: prepare
      include_tasks: "{{os_and_arch}}.yml"
      when: optional_file.stat.exists

    - name: create facts.d folder
      file:
        path: /etc/ansible/facts.d/
        state: directory
        mode: 0750
        recurse: yes

    - name: copy npu_info.fact to host
      template:
        src: facts/npu_info.fact.j2
        dest: /etc/ansible/facts.d/npu_info.fact
        owner: "root"
        group: "root"
        mode: "0500"

    - name: gather facts again
      setup:
