- name: gather facts for all
  hosts: all
  gather_facts: False

  tasks:
    - name: gather facts first
      setup:
        fact_path: /notexist

    - name: set custom fact tasks
      import_tasks: task_set_custom_fact.yml

    - name: create facts.d folder
      file:
        path: ~/ansible/facts.d/
        state: directory
        mode: 0755
        recurse: yes

    - name: copy npu_info.fact to host
      template:
        src: facts/npu_info.fact.j2
        dest: ~/ansible/facts.d/npu_info.fact
        mode: "0555"

    - name: gather facts again
      setup:
        fact_path: ~/ansible/facts.d/
