- hosts: '{{ hosts_name }}'
  gather_facts: True
  vars:
      temp: "{{ ansible_distribution_version | regex_findall('[0-9]+.[0-9]+') }}"
      os_version: "{{ temp[0] }}"

  tasks:
    - name: test kernel-headers
      shell: rpm -qa | grep kernel-headers
      register: kernel_header_installed
      ignore_errors: yes
      when:
          - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'

    - name: delete kernel-headers if installed
      shell: rm ~/resources/{{ ansible_distribution }}_{{ os_version }}_{{ ansible_architecture }}/kernel-headers*.rpm
      ignore_errors: yes
      when:
        - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'
        - "kernel_header_installed.rc == 0 and 'kernel-headers' in kernel_header_installed.stdout"

    - name: install rpm
      shell: rpm -ivh --force --nodeps --replacepkgs ~/resources/{{ ansible_distribution }}_{{ os_version }}_{{ ansible_architecture }}/*.rpm
      when:
          - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'

    - name: install deb by dpkg
      shell: export DEBIAN_FRONTEND=noninteractive && export DEBIAN_PRIORITY=critical; dpkg --force-all -i ~/resources/{{ ansible_distribution }}_{{ os_version}}_{{ ansible_architecture }}/*.deb
      when:
          - ansible_pkg_mgr == 'apt'
