- hosts: '{{ hosts_name }}'
  tasks:
    - name: find toolbox package
      find:
        paths: ~/resources/
        recurse: no
        file_type: file
        use_regex: yes
        patterns: ".*toolbox.*{{ansible_architecture}}.run"
      register: toolbox

    - name: add run permission for toolbox
      file:
        path: "{{toolbox.files[0].path}}"
        mode: a+x
      when: toolbox.matched > 0

    - name: install toolbox
      shell: "{{toolbox.files[0].path}} --install --quiet --install-username={{user}} --install-usergroup={{group}}"
      register: toolbox_result
      when: toolbox.matched > 0

    - name: execute ascend-dmi -i
      shell: ascend-dmi -i
      environment:
        PATH: /usr/local/Ascend/toolbox/latest/Ascend-DMI/bin:"{{lookup('env', 'PATH')}}"
        LD_LIBRARY_PATH: /usr/local/Ascend/toolbox/latest/Ascend-DMI/lib64:/usr/local/dcmi
      register: ascend_dmi_info
      when: toolbox.matched > 0

    - debug: var=ascend_dmi_info
