- name: find driver package for common linux
  shell: find ~/resources/ -type f -name "*driver*`uname -m`*run" | grep linux
  register: driver_linux_pkg
  ignore_errors: yes

- debug:
    var: driver_linux_pkg
    verbosity: 1

- name: add driver linux permission
  shell: chmod +x {{driver_linux_pkg.stdout}}
  when: "'run' in  driver_linux_pkg.stdout"

- name: install driver for common linux
  shell: "{{driver_linux_pkg.stdout}} --full --quiet --install-username={{user}} --install-usergroup={{group}}"
  register: rr
  failed_when: "'install success' not in rr.stdout"
  when: "'run' in driver_linux_pkg.stdout"

- name: start driver service
  shell: service host_sys_init start
  when: "'run' in driver_linux_pkg.stdout"

- name: check npu-smi info
  shell: npu-smi info
  register: npu_smi_info
  when: "'run' in driver_linux_pkg.stdout"
 
- debug:
    var: npu_smi_info
    verbosity: 1
